Hello <%= @current_user.username %>
<br />
<h4>We just wanna tell you that you are a member of the questionner community members</h4>

<br />

<h4>Because we seen you asking some questions and we surly sends a notification to the business owner to notify him</h4>

<br />

Best Thanks <%= @current_user.username %>