Hello <%= @business.owner %>

<h3><%= @user.username %> just ask a question regards to your business</h3>

<p>Pliz take a look at it </p>

<p>The context is : <%= @question.question %></p>

Best Regards